*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all 0.5s linear;
    font-family: 'Arial', sans-serif;
}

.main{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(4 3 3 /60%),
    rgb(0 0 0/33%)),url(pic.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 5%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar li{
    display: inline;
    padding: 0 15px;
}

.navbar li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 23px;
    padding: 4px;
}

.navbar li a:hover{
    color: #c19A6B;
}

.burger{
    display: none;
    position: absolute;
    top: 15px;
    right: 5%;
    cursor: pointer;
    font-size: 33px;
    color: antiquewhite;
    z-index: 1001;
}

/* button */
.btn{
    padding: 12px 39px;
    background-color: chocolate;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    background-color: #9c8c7a;
    color: black;
}

.main-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
.para{
    color: #9c8c7a;
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 10px;
}

.heading{
    color: #ff6b00;
    font-size: 75px;
    text-align: center;
    margin-bottom: 20px;
}
.mid-para{
    font-size: 16px;
    color: #9c8c7a;
    padding: 2% 0;
    text-align: center;
    max-width: 800px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.btn1{
    border-radius: 20px;
    letter-spacing: 1px;
    margin-top: 2%;
}

/* ___________sec__________ */
.sec{
    width: 80%;
    margin: 5% auto;
    text-align: center;
    padding: 3% 0;
}

.row{
    display: flex;
    justify-content: center;
    margin: 2% 0;
    align-items: center;
}
.img{
    width: 40%;
}
.row img{
    width: 80%;
    border-radius: 10px;
}
.boxes{
    width: 35%;
    align-self: center;
    text-align: left;
    padding: 20px;
}
.boxes h1{
    color: rgb(57, 36, 36);
    font-size: 30px;
    margin-bottom: 15px;
}

.sec .heading{
    color: rgb(92, 44, 10);
    font-size: 50px;
    margin-bottom: 30px;
}

/* __________Types________ */
.box{
    flex-basis: 17%;
    margin: 0 30px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    overflow: hidden;
}

.box h2{
    background-color: #3d1f0a;
    color: white;
    padding: 12px 0px;
    text-align: center;
}

/* __________About__________ */
.about{
    background: url(pic1.jpg) no-repeat center center/cover;
    height: 45vh;
    margin-bottom: 5%;
    position: relative;
}
.about-box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    left: 25%;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.comments{
    width: 100%;
    background-color: #f5f5f5;
    padding: 50px 0;
}
.c-box{
    background-color: #3d1f0a;
    color: whitesmoke;
    font-size: 14px;
    text-align: left;
    border-radius: 10px;
    padding: 0;
    margin: 0 15px;
}
.c-box p{
    padding: 19px 12px;
}
.c-box h3{
    color: #3d1f0a;
    background-color: white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
}

/* _________contact___________ */
.contact{
    background: url(pic2.jpg) no-repeat center center/cover;
    width: 100%;
    height: 50vh;
    padding: 0;
    margin-top: 10%;
    position: relative;
}

.con-box{
    background-color: #3d1f0a;
    position: absolute;
    width: 50%;
    margin: auto;
    height: 300px;
    top: -25%;
    left: 25%;
    padding: 35px 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.con-box .heading{
    color: white;
}
.con-box .icons{
    color: #9c8c7a;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.icons div{
    padding: 0px 13px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}
.icons i{
    display: block;
    padding: 12px 0px;
    font-size: 26px;
}
.icons div:hover{
    color: white;
}
.icons span {
    display: block;
    margin-top: 5px;
}

@media screen and (max-width: 820px) {
    .burger{
        display: block;
    }
    .navbar{
        position: fixed;
        height: 100vh;
        width: 200px;
        top: 0;
        flex-direction: column;
        right: 0;
        text-align: left;
        justify-content: flex-start;
        padding-top: 80px;
        transition: all 0.5s ease-in-out;
        background-color: rgba(0, 0, 0, 0.9);
    }
    .navbar li a{
        padding: 15px 0;
        display: block;
    }
    .navbar .btn{
        margin: 20px 0;
        width: 80%;
    }
    .h-class{
        transform: translateX(100%);
    }
    .v-class{
        opacity: 0;
    }
    .main-heading{
        width: 90%;
        padding: 20px;
    }
    .heading{
        font-size: 50px;
    }
    .row{
        flex-direction: column;
        align-items: center;
    }
    .boxes, .img{
        width: 90%;
        padding-bottom: 5%;
        text-align: center;
    }
    .box{
        margin: 15px 0;
        flex-basis: 80%;
    }
    .about-box{
        top: 50%;
        width: 80%;
        left: 10%;
        padding: 20px;
    }
    .con-box{
        width: 80%;
        left: 10%;
        height: auto;
        padding: 20px;
    }
    .contact{
        height: 60vh;
    }
    .icons {
        flex-direction: column;
    }
}